* {
    box-sizing: border-box;
    margin: 10px 10px 10px 10px;
}

body {
    font-family: 'Inconsolata', monospace;
}

button:hover {
    cursor: pointer;
}

header {
    font-family: 'Merienda One', cursive;
    display: flex;
    justify-content: center;
    align-content: center;
}

label {
    font-family: 'Merienda One', cursive;
}

h2 {
    font-family: 'Merienda One', cursive;
}

footer {
    display: flex;
    justify-content: center;
}


.flex-grid {
    display: flex;
}

.results-sections {
    flex: 1;
    border: 1px black solid;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}

#plant-picture {
    max-width: 175px;
    max-height: 175px;
}