* {
    box-sizing: border-box;
}



html {
    background: #9a9a9a;
}

header {
    font-family: 'Merienda One', cursive;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/68397/forest-fly-agaric-fog-moss-fliegenpilz.jpg);
    background-size: cover;
    background-position: 15% 0%;
    background-attachment: scroll;
    padding: 20px 0;
    height: 100vh;
}

.header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#js-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


body {
    font-family: 'Inconsolata', monospace;
    color: black;
    margin: 0;
    font-size: 15px;
    background: linear-gradient( to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    background-size: cover;
    background-attachment: scroll;
}

ul {
    height: 350px;
    overflow-y: scroll;
}

label {
    font-family: 'Merienda One', cursive;
}

h1 {
    text-align: center;
}

h2 {
    font-family: 'Merienda One', cursive;
}

h3 {
    font-family: 'Merienda One', cursive;
}

footer {
    display: flex;
    justify-content: center;
}

li {
    margin: 2px 40px 2px 2px;
    list-style-type: none;
    overflow-y: scroll;
}

p {
    text-align: center;
}

.spinner.one {
    width: 100%;
}

.flex-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-grid-wiki{
    display: flex;
    justify-content: center;
}

#trefle-results {
    margin-top: 15px;
}

.wiki-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wiki {
    margin-top: 10px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wiki-results-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 550px;
    overflow-y: scroll;
    margin: 10px 10px 10px 10px;
    box-shadow: 0 0 10px #656565;
}
.wiki-results-div h2 {
    text-align: center;
}

.wiki-banner {
    text-align: center;
}

.results-sections {
    background-color: white;
    flex: 1;
    width: 70%;
    text-align: center;
    box-shadow: 0 0 10px #656565;
}

.error-message {
    color: red;
}

.hidden {
    display: none;
}

.mobile {
    display: none;
}

#plant-picture {
    max-width: 175px;
    max-height: 175px;
}

/*Code below is for the loading animations*/

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}
.spinner {
    height: 50vh;
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;
}
.spinner::before {
    animation: 2s linear infinite spinner;
    border: solid 3px #eee;
    border-bottom-color: #EF6565;
    border-radius: 50%;
    content: "";
    height: 40px;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: 40px;
    will-change: transform;
}

/*Code below for input fields in header */
input {
    font-family: 'Merienda One', cursive;
}
.form {
    width: 80vw;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    align-content: center;

}
.form--block {
    width: 80vw;
    height: 60px;
    margin-bottom: 20px;
    position: relative;
}
.form--block:last-child {
    width: 80vw;
}
.form--block div {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #008000 50%, #334c39 50%);
    background-position: 100% 0%;
    background-size: 210%;
    transition: background 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.form--block div.text-focus {
    background-position: 0% 0%;
}
.form--block-text {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 50%;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 1.4rem;
    font-weight: 300;
    color: white;
    z-index: 1;
}
.form--block-text:focus ~ label {
    top: 0;
    color: #008000;
    font-size: 1rem;
}
.form--block-text:focus ~ div {
    background-position: 0% 0%;
}
.form--block label {
    width: 100%;
    font-weight: 400;
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    color: #334c39;
    transition: top 100ms cubic-bezier(0.25, 0.8, 0.25, 1), color 100ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.form--block label.label-focus {
    top: 0;
    color: #334c39;
    font-size: 1rem;
}
.form--block button {
    width: 100%;
    height: 100%;
    font-family: Roboto;
    font-weight: 400;
    appearance: none;
    background-color: #334c39;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
.form--block button:hover, .form--block button:focus {
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.20), 0 4px 8px rgba(0, 0, 0, 0.20);
    outline: 0;
}

/*Code below is for button fade */
.fade {
    animation: fade 3s 2s forwards;
    animation-iteration-count: 5;
}

@keyframes fade {
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.25;
    }
    100% {
        opacity: 1;
    }
}

/*Code for Top button */
#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 20px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

/*Code below this line is for button styling*/

.button.green{
    background-color: #57a957;
    border-color: #57a957;
}

.button.green:hover{
    background-color: #62c462;
}

.button.green:active{
    background: #57a957;
}

.button.green {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);

    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}

.button.small{
    padding: 4px 12px;
}

.button::-moz-focus-inner{
    border: 0;
    padding: 0;
}

.button{
    zoom: 1;
    padding: 6px 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    font: bold 13px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #555;

    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));

    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -ms-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    background-clip: padding-box; /* Fix bleeding */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255,255,255, .9);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover{
    background-color: #eee;
    color: #555;
}

.button:active{
    background: #e9e9e9;
    position: relative;
    top: 1px;
    text-shadow: none;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}

@media screen and (min-width: 480px) {

    .form--block {
        width: 80vw;
    }

    .flex-grid {
        flex-direction: row;
        justify-content: flex-start;
    }

    ul {
        height: 350px;
    }
    .results-sections{
        height: 425px;
    }

    #trefle-results {
        margin: 40px 50px 40px 40px;
    }

    #darksky-results {
        margin: 40px 40px 40px 50px;
    }
    .mobile {
        display: none;
    }
}

@media screen and (min-width:800px) {

    .form--block {
        width: 80vw;
    }

    .form {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #trefle-results {
        margin: 25px 15px 40px 40px;
    }

    #darksky-results {
        margin: 25px 40px 40px 15px;
    }
    ul {
        height: 550px;
    }
    .results-sections{
        height: 625px;
    }
    .mobile {
        display: contents;
    }
}
